<div ng-include="'views/mainnav.html'"></div>

<!--<div ng-controller="AlertDemoCtrl" ng-show="alert.msg">-->
    <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
<!--</div>-->

<div class="alert alert-warning alert-dismissable" ng-show="alertMessage" >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{alertMessage}}</strong>
</div>
<div class="jumbotron">
  <!--<h1>{{today  | date:'medium'}}</h1>-->
<h2><span my-current-time="format"></span></h2>
    <p class="lead">
    {{currentUser.email}} current schedule.
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>-->
</div>
<div class="list-group">
    <a class="list-group-item" ng-repeat="task in tasks | orderByPriority" href="#/task/{{task.tid}}">
        <h3 style="margin-top:10px;">{{task.name}}</h3>
        <h4>{{task.product.manufacturer}} - {{task.product.product}}</h4>
        <div> {{task.location.name}} | <strong>{{task.due | date:medium}}</strong>
        <button type="button" ng-click="deleteTask(task.$id, task.name)"  class="close" aria-hidden="true">&times;</button>
            </div>

    </a>
</div>
<!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="task in tasks | orderByPriority">-->
        <!--{{task.name}}-->
        <!--<span class="badge"> Due: {{task.due | date:medium}}</span>-->
        <!--<button type="button" ng-click="deleteTask(task.$id, task.name)"  class="close" aria-hidden="true">&times;</button>-->

    <!--</li>-->
<!--</ul>-->

<div class="row marketing">
  <h4>Bandera's tip of the day</h4>
  <p>
    "Build you relationships on your integrity."
  </p>
</div>
<!--<pre class="well">-->

   <!--{{tasks | json}}-->

<!--</pre>-->
