<div class="header container">
    <ul class="nav nav-pills xnav-tabs pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <!--<li><a ng-href="#">Contact</a></li>-->
        <li><a ng-href="#/customer">Customers</a></li>
        <li><a ng-href="#/location">Locations</a></li>
        <li><a ng-href="#">My Account</a></li>
        <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
        <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
    </ul>
    <h3 class="text-muted">XSell Systems</h3>
</div>