<div ng-include="'views/mainnav.html'"></div>

<!--<div ng-controller="AlertDemoCtrl" ng-show="alert.msg">-->
<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
<!--</div>-->

<div class="alert alert-warning alert-dismissable" ng-show="alertMessage">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{alertMessage}}</strong>
</div>
<div>

</div>
<div class="page-header">
    <h1 class="pull-right"> <small><p my-current-time="format" class="text-right"></p></small><h1 class="text-left" >Tasks</h1>


</div>


<div class="panel panel-default">
    <div class="panel-heading"><input id="locationfilter" class="form-control" type="text" ng-model="searchText"
                                      placeholder="Type here to filter the tasks">
    </div>
    <div class="list-group">
        <a class="list-group-item bg-info" ng-repeat="task in tasks | filter:searchText" href="#/task/{{task.tid}}">
            <h3 class="text-primary" style="margin-top:10px;">{{task.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i></h3>
            <h4 class="text-muted">{{task.product.manufacturer}} - {{task.product.product}}</h4>

            <div><span class="glyphicon glyphicon-globe"></span> {{task.location.name}} | <strong><span
                    class="glyphicon glyphicon-calendar"></span> {{task.due | date:medium}}</strong>
                <!--<button type="button" ng-click="deleteTask(task.$id, task.name)"  class="close" aria-hidden="true">&times;</button>
                -->
            </div>

        </a>
    </div>
</div>

<div class="row marketing">
    <h4>Bandera's tip of the day</h4>

    <p>
        "Build you relationships on your integrity."
    </p>
</div>
<!--<pre class="well">-->

<!--{{tasks | json}}-->

<!--</pre>-->




